* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Tahoma, Verdana, sans-serif;
    background-color: #2f3a30;
}

h1 {
    font-size: 40px;
    font-weight: 900;
}

.title {
    padding: 24px 24px;
    background-color: #b6cfb8;
    color: #2a3527;
}

.home .title {
    margin-bottom: 40px;
}

.recipes {
    margin: 0 25%;
}

.recipes li {
    background-color: #b6cfb8;
    color:#2a3527;
    font-size: 24px;
    padding: 24px;
    margin-bottom: 16px;
    text-align: center;
    list-style-type: none;
}

.recipes a {
    text-decoration: none;
    color:#2a3527;
}
